<div class="col">
  <div class="card h-100 hoverable project-card" data-project-id="{{ project.slug }}">
    {% if project.img %}
      {%
        include figure.liquid
        loading="eager"
        path=project.img
        sizes = "250px"
        alt="project thumbnail"
        class="card-img-top"
      %}
    {% endif %}
    <div class="card-body">
      <h5 class="card-title">{{ project.title }}</h5>
      <p class="card-text">{{ project.description }}</p>
      <div class="row ml-1 mr-1 p-0">
        {% if project.github %}
          <div class="github-icon">
            <div class="icon" data-toggle="tooltip" title="Code Repository">
              <a href="{{ project.github }}"><i class="fa-brands fa-github gh-icon"></i></a>
            </div>
            {% if project.github_stars %}
              <span class="stars" data-toggle="tooltip" title="GitHub Stars">
                <i class="fa-solid fa-star"></i>
                <span id="{{ project.github_stars }}-stars"></span>
              </span>
            {% endif %}
          </div>
        {% endif %}
      </div>
      <!-- Resource buttons at the bottom of the card -->
      <div class="mt-2">
        {% if project.code %}
          <a href="{{ project.code }}" class="btn btn-sm btn-project-resource mr-1" target="_blank" role="button">Code</a>
        {% endif %}
        {% if project.thesis %}
          <a href="{{ project.thesis }}" class="btn btn-sm btn-project-resource mr-1" target="_blank" role="button">Thesis</a>
        {% endif %}
        {% if project.paper %}
          <a href="{{ project.paper }}" class="btn btn-sm btn-project-resource mr-1" target="_blank" role="button">Paper</a>
        {% endif %}
        {% if project.slides %}
          <a href="{{ project.slides }}" class="btn btn-sm btn-project-resource mr-1" target="_blank" role="button">Slides</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
